In [1]:
import duckdb
import pandas as pd

In [15]:
sql_query ='''
show tables
'''

with duckdb.connect('database/local_business_db.duckdb') as con:
    display(con.sql(sql_query).df())

              name
0  business_rating
1    filtered_data
2   local_business
3  unique_business
4    unique_cities